table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
}
td {text-align: center
}

table {text-align: center;}

.new-entry {
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
    justify-content: space-between;
}

#header {
    border: 1px solid black;
    align-items: stretch;
    margin-bottom: 10px; 
    border-radius: 20px;
    padding: 10px;
    align-items: flex-end;
    background: grey;
}

#data-display {
    border-style: solid;
    border-color: black;
    padding: 10px;
    border-radius: 20px;
}

#first {
    display: flex;
}

.second {
    display: flex;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
