table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
}
td {text-align: center
}

table {text-align: center;}

.main_body {
    margin-top:100px;
}

.new-entry {
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
}

#summary {
    float: right;
}